<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chasong.dbapplication" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TripDaysActivity"
            android:label="@string/title_activity_trip"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.chasong.dbapplication.MainActivity" />
        </activity>
        <activity
            android:name=".TripAddEditActivity"
            android:label="@string/title_activity_trip_add_edit"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.chasong.dbapplication.MainActivity" />
        </activity>
        <activity
            android:name=".TripDayAddEditActivity"
            android:label="@string/title_activity_trip_day_add_edit"
            android:parentActivityName=".TripDaysActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.chasong.dbapplication.TripDaysActivity" />
        </activity>
        <activity
            android:name=".TripItemsActivity"
            android:label="@string/title_activity_trip_items"
            android:launchMode="singleTask"
            android:parentActivityName=".TripDaysActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.chasong.dbapplication.TripDaysActivity" />
        </activity>
        <activity
            android:name=".TripItemAddEditActivity"
            android:label="@string/title_activity_trip_item_add_edit"
            android:parentActivityName=".TripItemsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.chasong.dbapplication.TripItemsActivity" />
        </activity>
    </application>

</manifest>
